
@{
    ViewBag.Title = "Hello World";
}

<div id="root">ASP.NET MVC is working, but React might not be.</div>

<!-- Load our React component. -->
<script src='@Url.Content("~/JSX/HelloWorld.jsx")'></script>