
@{
    ViewBag.Title = "Hi World";
}

<div id="root">ASP.NET MVC is working, but jQuery might not be.</div>

<!-- Load our React component. -->
<script src='@Url.Content("~/JS/HiWorld.js")'></script>
