@{
    ViewBag.Title = "Index";
}

<div id="root">React Not Working, Mvc Razor May be Working</div>
<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script crossorigin src="https://unpkg.com/prop-types@15.6/prop-types.js"></script>
<!--
For more information please read:
https://reactjs.org/docs/typechecking-with-proptypes.html
https://www.npmjs.com/package/prop-types
-->

<!-- Load our React component. -->
<script src='@Url.Content("~/JSX/SimpleApp.jsx")'></script>

