@{
    ViewBag.Title = "Index";
}

<div id="root">React Not Working, Mvc Razor May be Working</div>
<!--
For more information please read:
https://reactjs.org/docs/typechecking-with-proptypes.html
https://www.npmjs.com/package/prop-types
-->

<!-- Load our React component. -->
<script src='@Url.Content("~/JSX/SimpleApp.jsx")'></script>

