
@{
    ViewBag.Title = "SimpleApp";
}

<div id="root">ASP.NET MVC is working, but React might not be.</div>

<!--
For more information please read:
https://reactjs.org/docs/typechecking-with-proptypes.html
https://www.npmjs.com/package/prop-types
-->
<!-- Load our React component. -->
<script src='@Url.Content("~/JSX/TeleportAPIHelper.jsx")'></script>
<script src='@Url.Content("~/JSX/SimpleApp.jsx")'></script>

